a {
  text-decoration: none;
  color: black; 
  margin-top: 10px; 
  font-size: 20px;
}

.button {
  font-family: Montserrat, sans-serif;
  padding: 10px 15px;
  margin: 20px 15px 0;
  border-radius: 10px;
  border: 2px solid  #C7BAB9;
  font-size: 24px;
  background-color: #cad9eb;
  transition: all 0.2s;
}

.button:hover{
  background-color: #8ab0de;
}

.control-panel{
  display: flex;
  justify-content: center;
}
