.user-page{
  text-align: center;
}
.followers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 20px;
}
.follower{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px ;
  margin: 5px;
  border: 3px solid #c7bab9;
  border-radius: 15px;
}
.avatar-follower{
  width: 200px;
}
